#path {
    width: 8vw;
    min-height: 3vh;
    max-height: 4vh;
    min-width: fit-content;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10vw;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;;
    font-size: 0.75em;
    margin: 5px;
}

#path > h4 {
    margin: 0px;
    line-height: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #468878;
}